@keyframes load-header {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
      
    }
}

@keyframes pop-contact{
    0% {
        transform: scale(0);
    }

    70%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes reverse-pop-contact{
    0% {
        transform: scale(1);
    }

    70%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(0);
    }
}

@keyframes load-content{
    0% {
        transform:translateX(50%);
        opacity: 0;
        /* transform: scale(0%); */
    }

    100%{
        transform:translateX(0);
        opacity: 1;
        /* transform: scale(1); */
    }
}

@keyframes bounce {
    0%,20%,60%,100%{
        
		transform: translateY(0);
    }
    40% {
 
		transform: translateY(-15px);
    }

    80% {
		transform: translateY(-5px);
    }
}

@keyframes bounce-up {
    0%,20%,60%,100%{
        
		transform: translateY(0);
    }
    40% {
 
		transform: translateY(-15px);
    }

    80% {
		transform: translateY(-5px);
    }
}

@keyframes bouncing {
    0%   { transform:  translateY(0); }
    30%  { transform:  translateY(-25px);}
    58%  { transform:  translateY(-7px); }
}

@keyframes zoom-in-zoom-out{
    0% {
      
      opacity: 0;
      transform: scale(1, 1.2);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.5, 1.5);
    }
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }

html{
    scroll-behavior: smooth;
    height: 100vh;
    margin: 0;
}

/* @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap'); */
body{
    margin: 0;
    overflow-x: hidden;
    font-family: monospace;
    
}
:root{
    --load-intro-page: 600ms;
    --load-header-time: calc(800ms + var(--load-intro-page));
    --load-link-time-delay: calc(var(--load-header-time) + 50ms);
    
    --color: rgb(41, 41, 41);
    --hover-color:#ecf0f1;

    --nav-fontSize: 1rem;
    --content-h2-fontSize: 4rem;
    --content-h3-fontSize: 2em;
    --h2-fontSize: 2.4rem;
    --p-fontSize: 1.4em;
}
  
.container > section {
    min-height: 100vh;
  }


.intro{
    position: relative;
    padding: 0 4rem;
    padding-bottom: 2rem;
    background: linear-gradient(180deg, #efede1 10%, rgba(37,47,59,1)90%);
}

/* make it pop */
header{
    padding-top: 35px; 
    animation:load-header 1s ease-in;
    transform: translateY(-100%);
    animation-fill-mode: forwards;
}

header ul{ 
    display: flex;
    justify-content: space-around;
    align-content: center; 
    padding: 0;
  }

header ul li{ 
    display: table-cell; 
    padding: 10px 0;
  }

header ul a{
    color: var(--color);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    font-size: var(--nav-fontSize);
    display: inline-block;
    padding: 15px 20px;
    /* position: relative; */
  }
header ul a:after {    
    bottom: 0;
    content: "";
    display:block;
    height: 2px;
    background: var(--color);
    transition: all 0.3s ease 0s;
    width: 0;
  }
header ul a:hover:after { 
    width: 50%; 
}

#overlay{
    position: fixed; 
    display: flex; 
    width: 100%; 
    height: 100%; 
    right: 0;
    bottom: 0;
    background-color:rgb(37, 47, 59,0.7);
    opacity: 0;
    z-index: -1; 
    transition: all 0.6s ease-in-out;
    /* z-index: unset; */

    /* animation: pop-contact 1s ease-in-out;
    transform: scale(0);
    animation-fill-mode: forwards; */
   
}

.overlay_info{
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    margin: auto;
    width: 750px;
    height: 500px;
    border-radius: 50px;
    background: linear-gradient(360deg, #EFEDDB -138%, rgba(37,47,59,0.7)101%);
}

img{
    margin: auto;
    width: 240px;
    height: 250px;
    border-radius: 50px;
}

.overlay_info #xMark{
    position: absolute;
    right: 40px;
    top: 35px;
    font-size: 40px;
    cursor: pointer;
}

.overlay_info .info{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 20px;
    padding-right: 4rem;
}
.overlay_info .info p:nth-child(1){
    font-size: 33px;
    font-weight: 900;
    margin: 0;  
}

.overlay_info .icon{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 20px;
    font-size: 25px;
}

.overlay_info .icon i{
    font-size: 22px;
    color: black;
}


.overlay_info .icon a{
    padding-bottom: 15px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.overlay_info i:hover, .overlay_info .icon a:hover{
    color: white;
}


.content{ 
   position: absolute;
   margin-top: 220px;
   animation: zoom-in-zoom-out 500ms ease-in var(--load-link-time-delay);
   opacity: 0;
   transform: scale(1, 1);;
   animation-fill-mode: forwards;
}

.bouncing-text{
    display: flex;
}

.bouncing-text div:nth-child(1) {
    animation: bouncing 1.5s ease-in-out infinite;
}

.bouncing-text div:nth-child(2) {
    animation: bouncing 1.5s ease infinite .1s;
}

.bouncing-text div:nth-child(3) {
  
    animation: bouncing 1.5s ease infinite .2s;
}

.bouncing-text div:nth-child(4) {
    text-indent: 20px;
    animation: bouncing 1.5s ease infinite .3s;
}

.bouncing-text div:nth-child(5){
    animation: bouncing 1.5s ease infinite .4s;
}

.bouncing-text div:nth-child(6){
    animation: bouncing 1.5s ease infinite .5s;
}

.bouncing-text div:nth-child(7){
    text-indent: 20px;
    animation: bouncing 1.5s ease infinite .6s;
}

.bouncing-text div:nth-child(8){

    animation: bouncing 1.5s ease infinite .7s;
}

.bouncing-text div:nth-child(9){
    animation: bouncing 1.5s ease infinite .8s;
}
    

.content h2,.content h3
{
    text-shadow: 11px 14px 5px rgb(0 0 0 / 15%);
} 

.content div{
    color:var(--color);
    font-size: var(--content-h2-fontSize);
    /* font-weight: 300; */
    margin: 0;  
}

.content h3{  
    margin: 0;
    color:var(--color);
    text-transform: uppercase;
    font-size: var(--content-h3-fontSize);
}

.aboutMe{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color :rgba(37,47,59,1); 
}

.container-info{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.aboutMe div{
    color: #f3f3f2;
    padding-bottom: 1rem; 
}

.aboutMe .cards{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   gap: 20px;
}

.aboutMe div h2, .project div h2 {
    font-size: var(--h2-fontSize);  
}

.aboutMe div p, .project div p {
    font-size: var(--p-fontSize); 
}

.aboutMe div ul li{
  font-size: 20px;
   margin-top: 5px;
}

.aboutMe div ul{
    position: absolute;
    right: 2em;
    padding-right: 50px;
}

.aboutMe .skillList{
    border: 1px solid white;
    transition: all .4s ease;
    border-radius: 20px;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    width: 40%;
    height: 350px;
    padding: 2rem 2rem;
    position: relative;
}

.project{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items:center ;
    background: linear-gradient(0deg, #efede1, rgb(37, 47, 59) 99%);
}

/* .project .container-info{
    width: 75%;
} */


.project .cards{
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px; */
} 

.project1{
    display: flex;
    flex-direction: row;
}


.knowOrDont{
    margin: 0;
    position: relative;
    width: 400px;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    z-index: 1; 
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.shrink-img{
    position: absolute;
    width: 200px;
    height: 125px;
    transition: all 1s ease-in-out;
    box-shadow: none;
}

/* button.details{
    color: green;
    position: absolute;
} */

.knowOrDont-details{
    position: absolute;
    width: 25%;
    border: 1px solid black;
    box-shadow: 20px 20px rgb(0 0 0 / 15%);
    padding: 2rem 2rem;
    border-radius: 20px;

    opacity: 0;
    z-index: -1;
    transform: translateY(-10%);
    transition: all 1s ease-in-out;
}
.knowOrDont-details .working{
    padding-top: 1em;
    display: block;
}

.knowOrDont-details span{
    color: green;
}

.move-down{
    position: relative;
    transform: translateY(30%);
    opacity: 1;
    transition: all 1s ease-in-out;
}


 /*.project .skillList{
    border: 1px solid black;
    transition: all .4s ease;
    border-radius: 20px;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    width: 50%;
    height: 350px;
    padding: 2rem 2rem;
    position: relative;
} */

.arrow{
    position: absolute;
    text-align: end;
    bottom: 2rem;
    right: 2rem;
}

.arrow i{
    animation: bounce-up 1.5s infinite ease-in-out;
}

.arrow i:hover{ 
    animation-play-state: paused;
}
.arrow i{
    color: black;
    font-size: 2rem;
}

footer{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0px;
    text-align: center;
    font-size: 13px;
    block-size: 300;
    padding-bottom: 20px;
}


/* animation for about me for now */
.hidden{
    transform: translateX(-100%);
    filter: blur(5px);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.show{
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
}

/* @media (max-width: 720px){
     .aboutMe,.project{
        padding: 0 3rem;
    }
    .aboutMe div p, .project div p{
        font-size: 1rem;
        margin-bottom: 0;
    } 
} */



/* (1024 < width < 1200) */


@media (min-width: 769px) and (max-width: 950px) {
    .container-info {    
        width: 70%;
    }

    .aboutMe .skillList {
        height: 400px;
    }
    
    .aboutMe div ul {
        bottom: 7em;
    } 

    .knowOrDont-details,.move-down{
        margin-top: 3em;
        width: 80%;
    }
}
 

@media (min-width: 320px) and (max-width: 769px){
    .intro{
        padding: 0 2rem;
    }

    ul li a{
        padding: 0;
        font-size: 16px;
    }

    .content h2{
        font-size: 3em;
    }

    .content h3{
        font-size: 1.2rem;
    }
    
    .overlay_info{
        width: 350px;
        height: 450px;;
        flex-direction: column;
    }
    .haw_pic{
        padding-top: 2em;
    }

    img{
        margin: auto;
        width: 200px;
        height: 200px;
        border-radius: 50px;
      
    }

    .overlay_info #xMark{  
        right: 27px;
        top: 21px;
    }

    .overlay_info .info{
        font-size: 15px;
        width: 80%;
        padding-right: 0;
        padding-bottom: 3em;
        text-align: center;
    }

    .overlay_info .info p:nth-child(1){
        font-size: 27px;
         padding-top: 9px;
    }

    .overlay_info .icon{
        display: flex;
        justify-content: space-around;
        padding-top: 0.4em;
        align-items: flex-start;
    }

    .overlay_info .icon a
    {
        font-size: 15px;
    }
    
    .overlay_info .icon i{
        padding-right: 0;
    }

    .aboutMe,.project{
        padding-bottom: 3rem;
    }

    .container-info{
        width: 80%;
    }

    .aboutMe div h2, .project div h2{
        font-size: 1.8rem;
    } 
    .aboutMe div p{
        font-size: 1rem;
        margin-bottom: 0;
    } 

    .aboutMe div ul{
       padding-top: 2rem;
       /* right: unset; */
    }

    .aboutMe .skillList{ 
        width: 80%;
        height: 350px;
    }

    .aboutMe .cards{
        flex-direction: column;
        align-items: center;
     }

     .project{
        padding-top: 3em;
     }
     .project1{
        justify-content: center;
     }

     .knowOrDont{
        width: 100%;
        /* transition: all 1s ease-in-out; */
     }

     .shrink-img{
         width: 200px;
         left: 0;

    }
    37
     .knowOrDont-details,.move-down{
        width: 80%;
    }

     .arrow{
       bottom: 4rem;
    } 
}

















